body{
    height: 4795px;
}
.banner-container{
  margin-top: 20px;
  height: 220px;
  position: relative;
  
  

}
.banner-text{
    position:absolute ;
    left: 480px;
    top: 70px;
    font-family: "Wix Madefor Display", sans-serif;
    color: white;
    text-align: center;
    font-size: 50px;
}
.banner-image{
    width: 100%;
    height: 100%;
}
.img-container{
    margin: 120px 100px 0px 100px;
    height: 560px;
    position: relative;
    
}
.slide-fade{
    height: 560px;

}
.slide-fade img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide-fade{
    display: none;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}
.img-text{
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-weight: bold;
    line-height: 20px;
}
.M-big-container{
    margin: 0px 45px;
    font-family: "Wix Madefor Display", sans-serif;

}
.M-big-container h1{
    font-size: 50px;
    color: white;
    margin-left: 50px;
}
.M-sub-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 60px;
    align-items: start;
}
.M-small-container{
     background-color: rgb(13, 21, 32);
    height:550px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid rgb(22, 83, 239);
}
.small-img-container{
    height: 400px;
    overflow: hidden;
}
.small-img-container img{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    
}
.small-text-container{
    line-height: 10px;
   margin-top: 40px;
   margin-left: 10px;
   padding-left: 15px;
}
.small-img-container h2{
    font-size: 60px;
}
.small-text-container p{
    font-size: 12px;
}
.small-text-container h3{
    color: rgb(5, 133, 230);
    font-size: 25px;
}
.M-big-container h1{
    font-size: 50px;
    color: white;
    margin-left: 50px;
}
.M-sub-container{ /* ensure grid fallback is consistent */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 60px;
}
.slider-track {
    display: contents; 
}
.M-small-container{
     background-color: rgb(13, 21, 32);
     height:550px;
     border-radius: 20px;
     overflow: hidden;
     border: 1px solid rgb(22, 83, 239);
}
.small-img-container{
    height: 400px;
    overflow: hidden;
}
.small-img-container img{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}
.small-text-container{
    line-height: 10px;
    margin-top: 40px;
    margin-left: 10px;
    padding-left: 15px;
}
.small-img-container h2{
    font-size: 60px;
}
.small-text-container p{
    font-size: 12px;
}
.small-text-container h3{
    color: rgb(5, 133, 230);
    font-size: 25px;
}

/* Hide navigation buttons on desktop */
.prev, .next {
    display: none; 
}
#check-out-headertext{
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 40px;
}
.M-medium-container{
    margin: 70px 90px;
    
}
.M-medsub-container{
    display: flex;
    width: 100%;
    max-width: 1400px;
    gap: 15px;
}
.M-medsub-container img{
    width: 100%;
}
.checkout-div-three{
    width: 100%;
    max-width: 1400px;
    margin-top: 15px;
}
.checkout-div-three img{
    width: 100% ;
}
.long-offer-container{
    background-color: rgb(13,21,32);
    width: 1170px;
    height: 250px;
    margin: 80px 170px;
    border-radius: 15px;
    line-height: 23px;
    padding: 15px;

}
.long-offer-container h1{
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 40px;
    color: rgb(254, 3, 105);
}
.long-offer-container h3{
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 20px;
}
.subscribe-cont{
    text-align: center;
    display: flex;
    gap: 15px;
    margin: 40px 240px;

}
#input-box{
    width: 560px;
    height: 35px;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.80);
    padding-left: 15px;
}
.long-offer-container button{
    background-color:rgb(49, 77, 223);
    border: none;
    color:white;
    font-family: "Wix Madefor Display", sans-serif;
    width: 100px;
    padding: 5px;
    border-radius: 12px;

}
.long-offer-container button:hover{
    background-color: rgb(16, 38, 156);
}
.site-footer{
    border-top: solid 1px rgb(22, 83, 239);
}
@media screen and (max-width: 430px) {
    .banner-text{
    position:absolute ;
    left: 90px;
    top: 60px;
    font-family: "Wix Madefor Display", sans-serif;
    color: white;
    text-align: center;
    font-size: 20px;
}
body{
    height: 4000px;
}
.banner-container{
  margin-top: 30px;
  height: 150px;
  position: relative;
  
}
.img-container{
    margin: 70px 20px 0px 20px;
    height: 300px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}
.slide-fade{
    height: 300px;

}
.img-text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: bold;
    line-height: 10px;
}
.img-text h1{
    font-size: 20px;
}
.img-text p{
    font-size: 10px;
}

.M-big-container h1{
    font-size: 50px;
    color: white;
    margin-left: 10px;
}

#check-out-headertext{
    font-family: "Wix Madefor Display", sans-serif;
    font-size: 20px;
}
.M-medium-container{
    margin: 20px;;
    width: 400px;
    
}
.M-medsub-container{
    display: flex;
    width: 400px;
    gap: 15px;
}
.checkout-div-three{
    width: 400px;
    margin-top: 15px;
}
.long-offer-container{
    background-color: rgb(13,21,32);
    width: 300px;
    height: 400px;
    margin: 20px 50px;
    border-radius: 15px;
    line-height: 80px;
    padding: 15px;

}
.long-offer-container h1{
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 25px;
    color: rgb(254, 3, 105);
    margin: 0;
    line-height: 40px;
}
.long-offer-container h3{
    font-family: "Wix Madefor Display", sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
}
.subscribe-cont{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin:60px 5px ;
    width: 300px;
    justify-content: center;
    align-items: center;

}
#input-box{
    width: 250px;
    height: 35px;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.80);
    padding-left: 15px;
    border: none;
}
.long-offer-container button{
    background-color:rgb(49, 77, 223);
    border: none;
    color:white;
    font-family: "Wix Madefor Display", sans-serif;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    height: 40px;

}
}
/* Responsive breakpoints for merchandise cards and containers */
@media screen and (max-width: 1200px) {
    .M-sub-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 48px;
    }
    .long-offer-container {
        width: 90%;
        margin: 40px auto;
    }
}

@media screen and (max-width: 900px) {
    .M-sub-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 36px;
    }
    .M-small-container{
        height: auto;
    }
    .small-img-container{
        height: 320px;
    }
    .M-big-container h1{
        font-size: 44px;
    }
}

@media screen and (max-width: 600px) {
    .M-sub-container {
        grid-template-columns: 1fr;
        gap: 24px;
    }
    .small-img-container{
        height: 260px;
    }
    .M-big-container h1{
        font-size: 36px;
    }
    .M-medium-container, .M-medsub-container, .checkout-div-three{
        width: 100%;
        margin: 0 12px;
    }
    .long-offer-container{
        width: 95%;
        margin: 20px auto;
        height: auto;
        padding: 20px;
    }
}